/* tweaks START */
@import './_calendar.pcss';
/* tweaks END */


@tailwind base;
@tailwind components;
@tailwind utilities;
/* If you need to let Tailwind classes overwrite your own classes, they need to be beneath this */


